Checks:
  *,
  -altera*,
  -llvm*,
  -fuchsia-default-arguments-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
CheckOptions:
  # This check applies to both classes and structs, which means POD types are
  # flagged. POD types generally have all members public, so this option
  # disables the check for them.
  - { key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: 1 }
